@use '../abstracts/variables' as *;

.main-grid {
    background-color: $secondaryColor;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        div {
            flex: 0 0 16%;
            word-wrap: anywhere;
        }
    }
}
.main-banner {
    text-align: center;
    background-color: $primaryColor;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .banner {
        display: flex;
        align-items: center;
    }
    div {
        display: inline-block;
    }
    img {
        width: 4rem;
        height: 5rem;
        object-fit: contain;
    }
}
